body {
    background: #C0C0C0;
    font-family: 'Aldrich', sans-serif;
}

h1 {
    border-style: solid;
    border-color: black;
    border-width: 4px;
    text-align: center;
}

h2 {
    color: purple;
}

input {
    border-color: darkblue;
    border-style: solid;
    border-width: 5px;
}

#textblock {
    border-width: 5px;
    border-color: gray;
    border-style: solid;
    width: 800px;
    height: 400px;
}

a {
    color: red;
}

